.notificacao {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 15px 25px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: slideUp 3s forwards;
}

.sucesso {
    background-color: #2196F3;
}

.erro {
    background-color: #F44336;
}


@keyframes slideUp {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    90% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}