body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #dfeff2;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#0c3468;
    color: white;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;


}


.nav {
    display: flex;
    gap: 20px;
    align-items: center;
    width: 100%;
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.78);
    transition: color 0.3s, background-color 0.3s;
    font-weight: bold;
}

a:hover {
    color: #021859;
    background-color: rgba(255, 99, 71, 0.2);
    padding: 2px 4px;
    border-radius: 3px;
}

footer {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #0c3468;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 13px;
    font-weight: bold;
}

footer p {
    margin: 0;
}

.elementos-php {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 0 auto;
}

.elementos-php .apresentacao-user {
    font-size: 1.3rem;
    font-weight: bold;
    color: #ffffffd7;
}

.elementos-php .btn-usuario {
    padding: 5px 10px;
    font-size: 12px;
    font-weight: bold;
    background-color: #1796b3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.elementos-php .btn-usuario:hover {
    background-color: #1f788c;
    transform: scale(1.05);
}
